<div class="mt-2">
    <p-panel [toggleable]="true" [collapsed]="isCollapsed">
        <ng-template pTemplate="header">
            <div>
                <span class="font-bold">Registrar Venda</span>
            </div>
        </ng-template>
        <form [formGroup]="vendaForm" (ngSubmit)="onSubmit()">
            <div class="grid">
                <div class="p-fluid col-12 md:col-6">
                    <div class="flex flex-column gap-2">
                        <label for="cliente">Cliente</label>
                        <p-dropdown id="cliente" [options]="clientes" formControlName="cliente" optionLabel="nome" placeholder="Selecione um cliente"></p-dropdown>
                    </div>
                </div>
                <div class="p-fluid col-12 md:col-6">
                    <div class="flex flex-column gap-2">
                        <label for="valorPago">Valor Pago</label>
                        <input type="number" pInputText id="valorPago" formControlName="valorPago" />
                    </div>
                </div>
                <div class="p-fluid col-12 md:col-6">
                    <div class="flex flex-column gap-2">
                        <label for="valorRepassado">Valor Repassado</label>
                        <input type="number" pInputText id="valorRepassado" formControlName="valorRepassado" />
                    </div>
                </div>
                <div class="p-fluid col-12 md:col-6">
                    <div class="flex flex-column gap-2">
                        <label for="formaPagamento">Forma de Pagamento</label>
                        <input pInputText id="formaPagamento" formControlName="formaPagamento" />
                    </div>
                </div>
                <div class="p-fluid col-12 md:col-6">
                    <div class="flex flex-column gap-2">
                        <label for="valorComissaoRAV">Comissão RAV</label>
                        <input type="number" pInputText id="valorComissaoRAV" formControlName="valorComissaoRAV" />
                    </div>
                </div>
                <div class="p-fluid col-12 md:col-6">
                    <div class="flex flex-column gap-2">
                        <label for="valorComissaoMarkup">Comissão Markup</label>
                        <input type="number" pInputText id="valorComissaoMarkup" formControlName="valorComissaoMarkup" />
                    </div>
                </div>
                <div class="p-fluid col-12">
                    <div class="flex flex-column gap-2">
                        <label for="descontoAplicado">Desconto Aplicado</label>
                        <input type="number"  pInputText id="descontoAplicado" formControlName="descontoAplicado" />
                    </div>
                </div>
            </div>

            <div>
                <button pButton class="mt-3" [disabled]="vendaForm.invalid" type="submit" label="Registrar Venda"></button>
            </div>
        </form>
    </p-panel>
</div>
