<div class="mt-2">
  <p-card header="Vendas">

    <p-table [value]="vendas" styleClass="p-datatable-striped" responsiveLayout="stack"
             [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Cliente</th>
          <th>Valor Pago</th>
          <th>Valor Repassado</th>
          <th>Forma de Pagamento</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"  let-venda>
        <tr>
          <td>{{ venda.cliente.nome }}</td>
          <td>{{ venda.valorPago }}</td>
          <td>{{ venda.valorRepassado }}</td>
          <td>{{ venda.formaPagamento }}</td>
          <td>
            <button aria-label="editar" (click)="onEdit(venda.id)" pButton style="margin: 0 5px;" icon="fa-solid fa-user-pen" pTooltip="editar">
            </button>
            <!-- Adicione um botão para excluir a venda, se necessário -->
          </td>
        </tr>
      </ng-template>
    </p-table>

  </p-card>
</div>
