<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
  <div class="mt-3">
    <p-panel [toggleable]="true" [collapsed]="isCollapsed">
      <ng-template pTemplate="header">
        <div>
          <span class="font-bold">Dados pessoais</span>
        </div>
      </ng-template>

      <div class="grid">
        <div class="p-fluid col-12 md:col-6">
          <div class="flex flex-column gap-2">
            <label for="nome">Nome Completo</label>
            <input placeholder="Nome e Sobrenome" pInputText id="nome" formControlName="nome"/>
          </div>
        </div>

        <div class="p-fluid col-12 md:col-6">
          <div class="flex flex-column gap-2">

            <label for="dataNascimento">Nascimento</label>
            <p-calendar placeholder="dd/mm/aaaa" id="dataNascimento" formControlName="dataNascimento" dateFormat="dd/mm/yy"></p-calendar>
          </div>
        </div>

        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="telefone">Telefone</label>
            <input placeholder="Digite seu telefone com DDD" type="text" pInputText id="telefone" formControlName="telefone"/>
          </div>
        </div>
        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="email">Email</label>
            <input placeholder="email@exemplo.com" type="email" pInputText id="email" formControlName="email"/>
          </div>
        </div>


      </div>

    </p-panel>
  </div>

  <div class="mt-3">
    <p-panel [toggleable]="true" [collapsed]="doccumentColapsed">
      <ng-template pTemplate="header">
        <div>
          <span class="font-bold">Documentos</span>
        </div>
      </ng-template>
      <div class="grid">
        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="cpf">CPF</label>
            <input pInputText id="cpf" formControlName="cpf"/>
          </div>
        </div>
        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="rg">RG</label>
            <input pInputText id="rg" formControlName="rg"/>
          </div>
        </div>
      </div>
    </p-panel>
  </div>



  <div class="mt-3">
    <p-panel [toggleable]="true" [collapsed]="addressCollapsed">
      <ng-template pTemplate="header">
        <div>
          <span class="font-bold">Endereço</span>
        </div>
      </ng-template>
      <div class="grid">
        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="cep">Cep</label>
            <input pInputText id="cep" (blur)="buscarEnderecoPorCep()" formControlName="cep"/>
          </div>
        </div>
        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="rua">Rua</label>
            <input type="text" pInputText id="rua"
                   formControlName="rua"/>
          </div>
        </div>

        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="numero">Número</label>
            <input type="text" pInputText id="numero"
                   formControlName="numero"/>
          </div>
        </div>

        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="complemento">Complemento</label>
            <input type="text" pInputText id="complemento"
                 placeholder="Apartamento, Sala, Condomínio."  formControlName="complemento"/>
          </div>
        </div>

        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="bairro">Bairro</label>
            <input type="text" pInputText id="bairro"
                   formControlName="bairro"/>
          </div>
        </div>


        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="cidade">Cidade</label>
            <input type="text" pInputText id="cidade"
                   formControlName="cidade"/>
          </div>
        </div>


        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="estado">Estado</label>
            <input type="text" pInputText id="estado"
                   formControlName="estado"/>
          </div>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="mt-3">
    <p-panel [toggleable]="true" [collapsed]="othersCollapsed">
      <ng-template pTemplate="header">
        <div>
          <span class="font-bold">Outros</span>
        </div>
      </ng-template>
      <div class="grid">
        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="renda">Renda</label>
            <input type="number" pInputText id="renda" formControlName="renda"/>
          </div>
        </div>
        <div class="p-fluid col-12 md:col-4">
          <div class="flex flex-column gap-2">
            <label for="profissao">Profissao</label>
            <input type="text" pInputText id="profissao" formControlName="profissao"/>
          </div>
        </div>
      </div>
    </p-panel>
  </div>


  <ng-container *ngIf="clienteId">
    <div class="mt-3">
      <p-panel [toggleable]="true" [collapsed]="attachmentColapsed">
        <ng-template pTemplate="header">
          <div>
            <span class="font-bold">Anexos</span>
          </div>
        </ng-template>
        <p-fileUpload name="arquivo" [url]="uploadUrl" (onUpload)="onUpload($event)" [multiple]="false"
                      maxFileSize="1000000">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                <div class="flex gap-1 align-items-center mt-1">
                  <span class="font-bold">{{ file.name }}</span>
                  <p-button [text]="true" icon="fa-solid fa-file-arrow-down" (click)="onDownload(file.id)"
                            pTooltip="Download"></p-button>
                  <p-button [text]="true" severity="danger" icon="fa-solid fa-trash" (click)="onRemove(file.id)"
                            pTooltip="Remover"></p-button>
                </div>


              </li>

            </ul>
          </ng-template>
        </p-fileUpload>

      </p-panel>
    </div>
  </ng-container>


  <div class="mt-3 flex gap-3">
    <button pButton [disabled]="clienteForm.invalid" type="submit" label="Cadastrar"></button>

    <button pButton (click)="goBack()" severity="secondary" type="button" label="Voltar"></button>
  </div>

</form>
